.first{
    background-color: #FFFDCe;
    font-size: 20pt;
    font-family: Arial;
    color: orange;
}

.second {
    background-color: magenta;
    color: green;
    font-size: 20pt;
    font-weight: bold;
}

.third {
    background-color: #c0d727;
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}
